{% extends 'base.html.twig' %}

{% block title %}Nouveau Article{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="row">
        <div class="container">
            <div class="example-wrapper">
                <h1>Creation</h1>
                <div class="container mt-4">
                    <h3>Créer un nouveau bien</h3>
                    {{ include('admin/produit/_forms.html.twig', {button: 'Modifier'}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

